.image {
    height: 300px;
    cursor: pointer;
    transition: transform 0.3s ease;
    object-fit: cover;
    position: center;
    margin: 0 auto;
    display: block;
}
.captured { margin-top: 20px; display: flex; flex-wrap: wrap; gap: 10px; }
.captured img {
    height: 150px;
}
.h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    color: #000000;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.4;
}
p{
    font-size: 20px;
}
.chromatique{
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    color: #f7e303;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.4;
}
.nouveau{
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    color: #529dff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.4;
}
h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    color: #000000;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    letter-spacing: 1px;
    line-height: 1;
}
button {
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: white;
    border: none;
    border-radius: 12px;
    padding: 12px 24px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 114, 255, 0.4);
    margin: 0 auto;
    display: block;
}
  
button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 114, 255, 0.6);
}
body {
    margin: 0;
    font-family: sans-serif;
    position: relative;
    z-index: 0;
}
  
/* conteneur du fond */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/fond.png');
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: -1;
}
.oeuf{
    max-width: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
    object-fit: cover;
    position: center;
    margin: 0 auto;
    display: block;
}
.gif{
    width: 150px; 
    height: 150px;
}.carré1{
    position: absolute;
    width: 150px; 
    height: 150px;
    top: 10px;
    right: 10px;
}.carré2{
    position: absolute;
    width: 150px; 
    height: 150px;
    top: 10px;
    right: 200px;
}.carré3{
    position: absolute;
    width: 150px; 
    height: 150px;
    top: 200px;
    right: 10px;
}.carré4{
    position: absolute;
    width: 150px; 
    height: 150px;
    top: 200px;
    right: 200px;
}.carré5{
    position: absolute;
    width: 150px; 
    height: 150px;
    top: 390px;
    right: 10px;
}.carré6{
    position: absolute;
    width: 150px; 
    height: 150px;
    top: 390px;
    right: 200px;
}
.carré1²{
    position: absolute;
    height: 150px;
    top: 10px;
    right: 10px;
}.carré2²{
    position: absolute;
    height: 150px;
    top: 10px;
    right: 200px;
}.carré3²{
    position: absolute;
    height: 150px;
    top: 200px;
    right: 10px;
}.carré4²{
    position: absolute;
    height: 150px;
    top: 200px;
    right: 200px;
}.carré5²{
    position: absolute;
    height: 150px;
    top: 390px;
    right: 10px;
}.carré6²{
    position: absolute;
    height: 150px;
    top: 390px;
    right: 200px;
}

.professeurTonneau{
    position: absolute;
    width: 300px; 
    top: 200px;
    left: 10%;
}
.texteDeprofesseurTonneau{
    position: absolute;
    top: 250px;
    left: 20px;
    right:85%;
}